body {
    color: gold;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#cardContainer {
    margin: 0 auto;
    /* Center horizontally */
    text-align: center;
}

.card {
    background-color: gold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: black;
}

.emp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unique-card {
    background-color: gold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.unique-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
